@tailwind base;
@tailwind components;
@tailwind utilities;

--bg-gradient {
  background: linear-gradient(
    135deg,
    rgb(228, 208, 26) 0%,
    rgb(231, 228, 27) 100%
  );
}

.text-app{
  color: #000000;
}

.container-add{
  margin-top: 20px;
  float: right;
  right: 0;
  left: auto;
  display: inline;
}

.footer{
  transform: translateY(0vw);
  padding-top: 40px;
  padding-bottom: 10px;
}


body{ 
  background-color: #18181b;
}